@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-text: #FD6E0A;
    --secordary-text: #474747;
    --hero-background: #FFF8F3;
    --highlight-text: #181818;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;

}

nav ul li {
    margin: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo-text {
    color: var(--primary-text);
}

.nav-text {
    color: var(--secordary-text);
}

.btn-primary {
    width: 150px;
    height: 64px;
    font-size: 20px;
    background-color: var(--primary-text);
    font-weight: 700;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}


.hero-header {
    background-color: var(--hero-background);
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    background-size: contain;

}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 35px 0 200px; */
    margin-left: 150px;
    border: 2px solid goldenrod;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.hero-hardy {
    border: 2px solid red;
    width: 550px;
    /* margin-left: 400px; */
}

.hero-content {
    padding: 5px;
    max-width: 585px;
    margin-left: 25px;
}

.subtitle {
    font-weight: 500;
    font-size: 45px;
    color: var(--secordary-text);
}

.title {
    font-weight: bold;
    font-size: 85px;
    columns: var(--highlight-text);
}

.hero-desc {
    font-size: 15px;
    color: var(--secordary-text);
    margin-top: 20px;
}

.common-text-heading {
    font-size: 35px;
    font-weight: bold;
    color: var(--highlight-text);
}

.about-me-desc {
    font-size: 14px;
    color: #757575;
    margin: 10px auto;
    /* text-align: center; */
}

.about {
    margin: 130px 400px;
    padding: 130px 150px;
    text-align: center;
    background-color: var(--hero-background);
}

.about-content {
    border: 2px solid black;
    background-color: white;
}

.about-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 22px 0 22px;
    /* padding: 5px; */
}

.about-items .abouts {
    font-size: 14px;
    color: #757575;
}

.about-items .details {
    font-size: 17px;
    font-weight: bold;
    color: #474747;
}

.section-skills {
    margin: 130px auto;
}

.skills-desc {
    /* border: 2px solid black; */
    margin: auto 340px;
}

.section-skills .title {
    font-size: 35px;
    font-weight: 700;
}

.section-skills .skills-desc-p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}

.section-skills .title,
.section-skills .skills-desc-p {
    text-align: center;
}

.shills-cards {
    display: flex;
    justify-content: space-around;
    margin: 0 190px;
    /* text-align: center; */
    /* gap: 20px; */
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 60px;
}

.skill-card {
    /* border: 2px solid black; */
    width: 267px;
    Height: 377px;
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.cards-content {
    margin: 50px 33px 32px;
    /* border: 2px solid rebeccapurple ; */
    /* text-align: center; */

}

.skill-details {
    margin-top: 30px;
    /* border: 2px solid; */
}

.skill-name {
    margin-top: 10px;
}

.resume-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 130px;
}

.education-container {
    display: flex;
    justify-content: space-evenly;
}

/* .education-container {
    border: 2px solid green;

} */

.education-details {
    height: 175px;
    width: 511px;
    margin-top: 13px;
}

.education-left-side {
    /* border: 2px solid green; */
    padding: 70px;
}

.education-right-side {
    /* border: 2px solid green; */
    padding: 70px;
}

.education-title {
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.education-degree {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.education-university {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}

.education-degree-details {
    font-size: 16px;
    color: #757575;
}

.cv-btn {
    margin: 0 825px 0;
    /* margin-left: 130px; */
}

.aboutme-container {
    display: flex;
    justify-content: space-evenly;
}

.about-me {
    background-color: var(--hero-background);
    Height: 780px;
    margin: 130px auto 0;
    /* border: 2px solid green; */

}

.contact-desc {
    color: #474747;
    Width: 562px;
    Height: 56px;
}

.left-contact-box {
    margin: 130px 0 0;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
}

.contact-images .icon {
    margin: 10px;
    cursor: pointer;
}

.right-contact-box .input-box {
    margin-top: 130px;
    /* display: flex;
    flex-direction: column; */
}

.inputs {
    width: 461px;
    height: 64px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    /* margin: 24px;    */
}

.input-contact-box {
    gap: 10px;
    /* margin: 10px; */
    /* padding: 50px; */

}

.input-comment {
    border: none;
    outline: none;
    width: 461px;
    height: 180px;
    /* margin: 24px;    */
}