@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-text: #FD6E0A;
    --secordary-text: #474747;
    --hero-background: #FFF8F3;
    --highlight-text: #181818;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;

}

nav ul li {
    margin: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo-text {
    color: var(--primary-text);
}

.nav-text {
    color: var(--secordary-text);
}

.btn-primary {
    width: 150px;
    height: 64px;
    font-size: 20px;
    background-color: var(--primary-text);
    font-weight: 700;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}


.hero-header {
    background-color: var(--hero-background);
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
    border: 2px solid goldenrod;
    height: 100vh;
}

.hero-hardy {
    width: 500px;
}

.hero-content {
    padding: 5px;
    max-width: 585px;
    margin-left: 25px;
}

.subtitle {
    font-weight: 500;
    font-size: 45px;
    color: var(--secordary-text);
}

.title {
    font-weight: bold;
    font-size: 85px;
    columns: var(--highlight-text);
}

.hero-desc {
    font-size: 15px;
    color: var(--secordary-text);
    margin-top: 20px;
}

.about {
    border: 2px solid green;
    margin: 200px auto;
    width: 1140px;
    height: 550px;
    background-color: var(--hero-background);
}

.about-content {
    border: 2px solid red;
    /* width: 827px; */
    /* height: 47px; */
    width: 827px;
    height: 287px;
    margin: 131px auto;
    background-color: white;
}

.about-content .title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--highlight-text);
}

.about-desc {
    font-size: 18px;
    font-weight: 400;
    text-align: center;

    color: var(--secordary-text);
}